.search{
    margin-top:40px;
    display:flex;
    justify-content:center;
    gap:15px;
}

.search__input{
    width:420px;
    padding:18px 25px;
    border-radius:50px;
    border:none;
    font-size:1rem;
    outline:none;
    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.search__button{
    padding:18px 38px;
    border-radius:50px;
    background:#f6a8c8;
    color:white;
    font-size:1rem;
    font-weight:600;
    transition:.3s;

}

.search__button:hover{
    background:#e98ab3;
}

@media screen and (max-width: 600px) {
  .search {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .search__input {
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
  }

  .search__button {
    width: 100%;
    max-width: 320px;
  }
}