.header {
  background: #ffd6e7;
  padding: 18px 60px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.header__container {
  max-width: 1300px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.header__logo {
  font-size: 2rem;
  color: #d65b91;
}

.header__subtitle {
  color: #8b6474;
  font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 18px 20px;
  }

  .header__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header__brand {
    align-items: center;
  }

  .header__logo {
    font-size: 1.7rem;
  }

  .header__subtitle {
    font-size: 0.85rem;
  }
}