* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #fff7fb;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}